.apps {
    .content {
        margin-bottom: 0px;
        margin-top: 100px;
    }
}

@media (min-width: 992px) {
    .apps {
        .img {
            margin: 0px;
            justify-content: left;
        }

        .content {
            justify-content: end;
        }
    }
}