.customise{
    .content{
        margin-bottom: 0;
        margin-top: 60px;

        &__title{
            h1,p{
                color: var(--secondary-color-black);
            }
        }
    }

    .img{
        img{
            object-fit:cover;
        }
    }
}

