.customise{
    .content{
        margin-bottom: 0;
        margin-top: 60px;
    }

    .img{
        img{
            object-fit:cover;
        }
    }

    .content__title{
    h1,p{
        color: var(--secondary-color-black);
    }
}
}

