.data {
    .img {
        margin-bottom: 100px;
    }

    &__title {
        h1,
        p {
            color: var(--secondary-color-black);
        }
    }
}

@media (min-width: 992px) {
    .data {
        &__content {
            order: 1;
        }

        .img {
            order: 2;
            margin-bottom: 0px;
        }
    }
}