.header {
    padding-top: 20px;

    .row {
        justify-content: space-between;
    }

    &__logo {
        width: 134px;
        height: auto;
        padding-left: 10px;
    }

    &__hamburger {
        display: block;
        cursor: pointer;
        padding-right: 10px;

        &--bar {
            display: block;
            width: 30px;
            height: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: white;

            &:nth-child(2) {
                margin: 8px auto;
            }
        }

        &.active {
            .header__hamburger--bar--top {
                transform: translateY(10px) rotate(45deg);
            }

            .header__hamburger--bar--middle {
                opacity: 0;
            }

            .header__hamburger--bar--bottom {
                transform: translateY(-12px) rotate(-45deg);
            }
        }
    }

    ul {
        padding-inline-start: 0px;
    }

    &__container {
        position: fixed;
        display: flex;
        z-index: 2;
        width: 100%;
        background-color: var(--primary-color-darkBlue);
        top: 55px;
        right: 0;
        transform: translateX(100%);
        height: 100%;
        transition: transform 0.4s ease-in-out, opacity 0.3s ease;

        &.active {
            transform: translateX(0);
            z-index: 2;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        text-align: start;
        padding-top: 20px;
        margin: 0 auto;
        z-index: 2;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 15px;
        border: none;
        outline: none;
        width: 100%;

        &:hover .header__submenu {
            display: block;
        }

        a {
            font-family: "DM Sans", sans-serif;
            text-align: left;
        }

        >a {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        i {
            font-size: 15px;
        }
    }

    &__submenu {
        display: none;
        min-width: max-content;
        width: 100%;
        border-radius: 0 0 10px 10px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-right: 0px;

        &-item {
            padding: 5px 10px;
            cursor: pointer;

            a {
                &:hover {
                    color: rgb(141, 141, 141);
                }
            }
        }
    }

    &__buttons {
        display: none;
    }
}

@media (min-width: 576px) {
    .header {
        &__menu {
            max-width: 540px;
        }
    }
}

@media (min-width: 768px) {
    .header {
        &__menu {
            gap: 8px;
            max-width: 720px;
        }

        &__logo {
            width: 190px;
            padding-left: 10px;
        }

        &__item {
            padding: 15px;

            >a {
                font-size: 24px;
            }
        }

        &__submenu {
            padding-top: 5px;

            &-item {
                a {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        &__hamburger {
            padding-right: 0px;
        }

        &__logo {
            padding: 30px 0px;
        }

        &__nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        &__container {
            top: 115px;
            width: 100%;
        }

        &__menu {
            max-width: 960px;
        }

        &__item {
            padding-left: 5px;
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            &--login {
                border: 0;
                outline: 0;
                border-radius: 8px;
                max-width: 130px;
                padding: 15px 40px;
                background-color: var(--secondary-color-gold);
                color: var(--primary-color-darkBlue);
                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background-color: #fff1c5;
                }
            }

            &--free-trial {
                max-width: 227px;
                padding: 15px 24px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {
        &__logo {
            padding-left: 2px;
        }

        &__hamburger {
            display: none;
        }

        &__menu {
            flex-direction: row;
            gap: 5px;
            background-color: transparent;
            height: initial;
            width: 100%;
            padding-top: 0px;
            top: unset;
            transform: none;
        }

        &__container {
            position: static;
            width: fit-content;
            height: fit-content;
            padding-right: unset;
            padding-left: unset;
            margin-right: unset;
            margin-left: unset;
            transform: none;
            transition: none;
        }

        &__item {
            padding: 10px;
            position: relative;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            img {
                padding: 10px;
            }

            >a {
                font-size: 18px;
                gap: 10px;
                border-radius: 5px;
            }
        }

        &__submenu {
            padding: 10px 20px;
            font-size: 16px;
            position: absolute;
            left: 0;
            top: 100%;
            background: white;
            width: 100%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 10px 10px;

            &-item {
                padding: 5px;

                a {
                    color: var(--primary-color-darkBlue);
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .header {
        &__menu {
            gap: 20px;
        }
    }
}