.header-bg{
    background-color: var(--primary-color-darkBlue);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 4;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;

    &__logo {
        width: 134px;
        height: auto;
        padding-top: 3px;
    }

    &__hamburger {
        display: block;
        cursor: pointer;
        padding-bottom: 10px;

        &--bar {
            display: block;
            width: 30px;
            height: 3px;
            border-radius: 3px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: white;

            &:nth-child(2) {
                margin: 8px auto;
            }
        }

        &.active {
            .header__hamburger--bar--top {
                transform: translateY(10px) rotate(45deg);
            }

            .header__hamburger--bar--middle {
                opacity: 0;
            }

            .header__hamburger--bar--bottom {
                transform: translateY(-12px) rotate(-45deg);
            }
        }
    }

    ul {
        padding: 0px;
    }

    &__nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 5;
        width: 100%;
        background-color: var(--primary-color-darkBlue);
        top: 55px;
        right: 0;
        transform: translateX(100%);
        height: 100%;
        gap: 30px;
        transition: transform 0.4s ease-in-out;

        &.active {
            transform: translateX(0);
            z-index: 2;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    &__item {
        padding: 15px;

        a {
            font-family: "DM Sans", sans-serif;
            text-align: left;
        }

        >a {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        i {
            font-size: 15px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--login {
            border: 0;
            outline: 0;
            border-radius: 8px;
            min-width: 180px;
            padding: 15px 40px;
            background-color: var(--secondary-color-gold);
            color: var(--primary-color-darkBlue);
            transition: background-color 0.2s ease-in-out;
            margin-left: 15px;

            &:hover {
                background-color: #fff1c5;
            }
        }

        &--free-trial {
            margin-right: 15px;
        }
    }
}

@media (min-width: 576px) {
    .header {
        &__buttons {
            justify-content: space-around;

            &--login {
                margin-left: 0px;
            }

            &--free-trial {
                margin-right: 0px;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        &__menu {
            gap: 8px;
        }

        &__logo {
            width: 190px;
            padding-bottom: 10px;
        }

        &__item {
            padding: 15px;

            >a {
                font-size: 24px;
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        align-items: center;

        &__hamburger {
            padding-bottom: 0px;
        }

        &__logo {
            padding: 10px 0px;
        }

        &__nav {
            gap: 20px;
            top: 115px;
        }

        &__item {
            padding-left: 5px;
        }
    }
}

@media (min-width: 1200px) {
    .header {
        &__hamburger {
            display: none;
        }

        &__menu {
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin-left: 10px;
        }

        &__nav {
            position: static;
            transform: none;
            transition: none;
            height: initial;
            flex-direction: row;
            align-items: center;
            gap: 0px;
            justify-content: space-between;
            padding-top: 0px;
        }

        &__item {

            a,
            i {
                font-size: 16px;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: var(--secondary-color-gold);
                }
            }
        }

        &__buttons {
            justify-content: space-between;
            gap: 24px;
            padding-bottom: 10px;

            &--login {
                min-width: initial;
                max-width: 130px;
            }
        }
    }
}

@media (min-width: 1400px) {
    .header {
        &__menu {
            gap: 20px;
        }
    }
}