.header {
    background-color: var(--primary-color-darkBlue);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;

    &__logo {
        img {
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__menu {
        display: flex;
        gap: 30px;
        padding: 8px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        a {
            font-family: "DM Sans", sans-serif;
            text-align: left;
            text-decoration: none;
        }

        >a {
            display: flex;
            align-items: center;
            color: var(--secondary-color-white);
            gap: 8px;
            padding-left: 5px;
            border: none;
            outline: none;
            border-radius: 5px;
            max-width: 115px;

            img {
                padding: 10px;
            }
        }

        li {
            list-style: none;
        }
    }

    &__item:hover .header__submenu {
        display: block;
    }

    &__submenu {
        display: none;
        background: white;
        position: absolute;
        left: 0;
        top: 100%;
        min-width: max-content;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 10px 10px;

        &-item {
            padding: 10px 15px;
            cursor: pointer;

            &:hover {
                background-color: rgb(234, 234, 234);
            }

            a {
                color: var(--primary-color-darkBlue);
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        &--login,
        &--free-trial {
            border: 0;
            outline: 0;
            border-radius: 8px;
        }

        &--login {
            max-width: 126px;
            padding: 16px 40px;
            background-color: var(--secondary-color-gold);
            color: var(--primary-color-darkBlue);
        }

        &--free-trial {
            max-width: 227px;
            padding: 16px 24px;
            background-color: var(--primary-color-lightBlue);
            color: var(--secondary-color-white);
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                white-space: nowrap;
            }

            img {
                width: 10px;
                height: 10px;
            }
        }
    }
}