.hero {
    width: 100%;

    &__content {
        margin-bottom: 100px;
    }
}

.overlay {
    background-image: url(/src/assets/background-waves.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}