.hero {
    width: 100%;

    &__content {
        margin-bottom: 100px;
    }

    .content__title {
        p {
            padding: 0px;
            font-size: 18px;
        }
    }
}

.overlay {
    background-image: url(/src/assets/background-waves.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}