.hero {
    width: 100%;

    &__content {
        margin-bottom: 100px;
    }

    .content__title {
        p {
            padding: 0px;
            font-size: 18px;
        }
    }
}

@media (min-width: 1200px) {
    .hero {
        .content__title {
            p {
                padding-right: 20px;
            }
        }
    }
}