.management {
    display: flex;
    flex-direction: column;
    gap: 100px;

    .content__title {

        h1,
        p {
            color: var(--secondary-color-black);
        }
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .management {
        &__item:nth-child(2) {
            .content {
                order: 2;
            }

            .image {
                order: 1;
                margin: 0px;
            }
        }
    }
}

@media (min-width: 1200px) {}