.management {
    &__item {
        margin-bottom: 100px;
    }

    .content__title {

        h1,
        p {
            color: var(--secondary-color-black);
        }
    }
}

@media (min-width: 768px) {
    .management {
        .content__title {
            p {
                padding: 3px;
            }
        }
    }
}

@media (min-width: 992px) {
    .management {
        &__item:nth-child(2) {
            .content {
                order: 2;
            }

            .img {
                order: 1;
                margin: 0px;
            }
        }
    }
}