.sponsor {
    overflow: hidden;

    h1 {
        color: var(--secondary-color-black);
        text-align: center;
        margin-bottom: 100px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;

        img {
            max-width: 210px;
            height: auto;
        }
    }
}

@media (min-width: 768px) {
    .sponsor {
        h1 {
            font-size: 54px;
        }
    }
}

@media (min-width: 992px) {
    .sponsor {
        h1 {
            font-size: 64px;
        }

        &__item {
            flex-direction: row;
            justify-content: space-between;
            gap: 0px;
        }
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 72px;
    }
}