@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(./grid_system.scss);
@import url("./reset.css");
@import url("./sections/header.scss");
@import url("./sections/hero.scss");
@import url("./sections/management.scss");
@import url("./sections/customise.scss");
@import url("./sections/plan.scss");
@import url(./whitepace-fonts.css);
@import url("./sections/data.scss");
@import url("./sections/client.scss");
@import url("./sections/sponsor.scss");
@import url("./sections/apps.scss");
@import url("./sections/footer.scss");

* {
    font-family: "Inter", sans-serif;
    color: var(--secondary-color-white);
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color-darkBlue: #043873;
    --primary-color-lightBlue: #4f9cf9;
    --secondary-color-gold: #ffe492;
    --secondary-color-skyBlue: #a7cefc;
    --secondary-color-white: #ffffff;
    --secondary-color-black: #212529;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body.no-scroll {
    overflow: hidden;
}

.default-bg {
    background-color: var(--primary-color-darkBlue);
}

h1 {
    font-size: 36px;
    line-height: auto;
    font-weight: 700;
}

h2 {
    font-size: 64px;
    line-height: auto;
    font-weight: 700;
}

h3 {
    font-size: 54px;
    line-height: auto;
    font-weight: 700;
}

h4 {
    font-size: 36px;
    line-height: auto;
    font-weight: 700;
}

h5 {
    font-size: 28px;
    line-height: auto;
    font-weight: 700;
}

.text-xl {
    font-size: 24px;
    line-height: 36px;
}

.text-lg {
    font-size: 18px;
    line-height: 28px;
}

.text-md {
    font-size: 16px;
    line-height: 24px;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.button-blue {
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: var(--primary-color-lightBlue);
    color: var(--secondary-color-white);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.2s ease-in-out;
    padding: 20px 40px;
    max-width: 200px;
    justify-content: center;

    p {
        white-space: nowrap;
    }

    i {
        transition: transform 0.3s ease-in-out;
        font-size: 14px;
    }

    &:hover {
        background-color: #80b8fb;

        i{
            transform: translateX(4px);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        margin-bottom: 60px;
        color: var(--secondary-color-white);

        h1 {
            font-size: 36px;
        }

        h1,
        p {
            text-align: center;
        }

        p {
            padding: 10px;
        }
    }
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}



section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .content {
        margin-bottom: 100px;

        h1 {
            font-size: 54px;
        }

        &__title {
            p {
                padding: 0px;
            }
        }
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .content {
        align-items: start;
        justify-content: center;
        margin-bottom: 0px;

        h1 {
            font-size: 64px;
        }

        &__title {
            justify-content: left;

            h1,
            p {
                text-align: left;
            }
        }
    }

    .button-blue {
        max-width: 220px;
    }

    section {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    h1 {
        font-size: 72px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}