@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(./grid_system.scss);
@import url("./reset.css");
@import url("./sections/header.scss");
@import url("./sections/hero.scss");

* {
    font-family: "Inter", sans-serif;
    color: var(--secondary-color-white);
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color-darkBlue: #043873;
    --primary-color-lightBlue: #4f9cf9;
    --secondary-color-gold: #ffe492;
    --secondary-color-skyBlue: #a7cefc;
    --secondary-color-white: #ffffff;
    --secondary-color-black: #212529;
}

.bg {
    width: 100%;
    background-color: var(--primary-color-darkBlue);
}

h1 {
    font-size: 72px;
    line-height: auto;
    font-weight: 700;
}

h2 {
    font-size: 64px;
    line-height: auto;
    font-weight: 700;
}

h3 {
    font-size: 54px;
    line-height: auto;
    font-weight: 700;
}

h4 {
    font-size: 36px;
    line-height: auto;
    font-weight: 700;
}

h5 {
    font-size: 28px;
    line-height: auto;
    font-weight: 700;
}

.text-xl {
    font-size: 24px;
    line-height: 36px;
}

.text-lg {
    font-size: 18px;
    line-height: 28px;
}

.text-md {
    font-size: 16px;
    line-height: 24px;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.button-blue {
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: var(--primary-color-lightBlue);
    color: var(--secondary-color-white);
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        white-space: nowrap;
    }

    img {
        width: 10px;
        height: 10px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px; //1480px;
    }
}